<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/regStyle.css" />
  </head>
  <body>
    <form action="/varification" method="POST">
      <div class="container">
        <h1>Varification</h1>
        <p>
          You will reive a a text message with a varification code. please
          endter your phone number and that varification code.
        </p>
        <hr />

        <label for="phone"><b>Phone number</b></label>
        <input
          type="text"
          placeholder="Enter Phone number"
          name="phone"
          id="phone"
          required
        />

        <label for="varification"><b>Varification Code</b></label>
        <input
          type="text"
          placeholder="Enter varification code"
          name="varification"
          id="varification"
          required
        />
        {% for message in get_flashed_messages()%} {{message}} {% endfor %}
        <button type="submit" class="registerbtn">Login</button>
      </div>
    </form>
  </body>
</html>
